body{
    background:#f2f2f2;
    font-family:Georgia, serif;
    padding:30px 10px;
}

.container{
    background:white;
    border-radius:35px;
    overflow:hidden;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 30px;
    border-bottom:2px solid #ddd;
}

.logo{
    width:70px;
}

.nav-buttons{
    display:flex;
    gap:15px;
}

.btn{
    background:#f39a1d;
    color:white;
    border:none;
    border-radius:8px;
    padding:12px 25px;
    cursor:pointer;
    font-weight:bold;
}

/* HERO */

.hero{
    text-align:center;
    padding:50px 20px;
}

.hero h1{
    font-size:42px;
    margin-bottom:10px;
}

.hero p{
    font-size:24px;
    color:#888;
}

/* EQUIPMENT */

.equipment-section{
    padding:20px 25px 40px;
}

.equipment-section h2{
    margin-bottom:30px;
    font-size:30px;
}

.equipment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 450px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    padding: 10px;
    background: #fff;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px;
}

.card-content h3 {
    margin-bottom: 10px;
}

.text-muted{
    color: #f39a1d;
}

.card-content p,
.card-content ul {
    margin-bottom: 10px;
}

.card-content ul {
    flex: 1;                
    overflow: hidden;       
    padding-left: 18px;
}

.card-content p {
    font-weight: normal;
    color: #555;
    line-height: 1.5;
}

.card-content ul{
    padding-left:18px;
    color:#666;
    font-size:12px;
}

.card-content li{
    margin-bottom:4px;
}

/* desktop view */

@media(max-width:992px){

    .equipment-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .hero h1{
        font-size:34px;
    }

    .hero p{
        font-size:20px;
    }
}

/* MOBILE view*/

@media(max-width:600px){

    .navbar{
        padding:15px;
    }

    .logo{
        width:50px;
    }

    .btn{
        padding:10px 18px;
        font-size:13px;
    }

    .hero{
        padding:30px 15px;
    }

    .hero h1{
        font-size:24px;
    }

    .hero p{
        font-size:16px;
    }

    .equipment-section{
        padding:15px;
    }

    .equipment-section h2{
        font-size:24px;
    }

    .equipment-grid{
        grid-template-columns:repeat(2,1fr);
        gap:15px;
    }

    .card-content h3{
        font-size:11px;
    }

    .card-content ul{
        font-size:9px;
    }
}